@import url("http://fonts.cdnfonts.com/css/karasha");
@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
@import url(genjiro-font/Genjiro.ttf);
@font-face {
  font-family: genjiro;
  src: url(genjiro-font/Genjiro.ttf);
}

@font-face {
  font-family: samux;
  src: url(genjiro-font/Samureix-Regular.ttf);
}

/* 
HEADER SECTION
*/

body {
  overflow-x: hidden;
  background: white;
  margin: 0;
}

.top-banner {
  background: url("images/BG.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.middle-banner {
  background: url("images/BG2.png");
  background-size: cover;
  height: 200vh;
  width: 100%;
}
.bottom-banner {
  background: url("images/BG3.png");
  background-size: cover;
  height: 200vh;
  width: 100%;
}

/* TIMER */

.launchTimer {
  height: 72px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  position: absolute;
  background: #981827;
}

.inuLaunchDate {
  font-family: KARASHA;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #decac3;
}

.navigation-div {
  position: absolute;
  left: 0%;
  background: rgba(255, 255, 255, 0.8);
  height: 72px;
  width: 100%;
  left: 0px;
  top: 72px;
  border-radius: 0px;
}

header nav li a {
  font-family: KARASHA;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  font-weight: 400;
  text-decoration: none;
  color: #981827;
}

header nav li {
  list-style-type: none;
}

/* END OF TIMER */

/* 
END OF HEADER SECTION
*/

/* 
BODY SECTION
 */

.hero-section {
  width: 100%;
  height: 98vh;
  /* opacity: 90%; */
  background: url(images/mainbackground.png);
}

.hero-section svg {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 000000;
  transform: rotateY(-180deg);
  /* transform: rotateX(180deg); */
}

.bushi-para {
  height: 317px;
  left: 100px;
  margin-top: 3vh;
  color: #981827;
}

.geoInu {
  font-family: genjiro;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 93px;
  z-index: 1;
  color: #981827;
}

.bushi {
  font-family: samux;
}

.shonomics {
  background: url(images/mainbackground.png);
  top: 1000;
  width: 100%;
  height: 100vh;
  margin-top: 320px;
}

.sho-text {
  font-family: samux;
  font-weight: 500;
  font-size: 130px;
  color: #981827;
}
@media (max-width: 768px) {
  .sho-text {
    font-size: 60px;
  }
}

.shoTP {
  color: #981827;
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.shoSmb {
  color: #981827;
  font-family: Gilroy-Regular;
  height: 144px;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.yes {
  font-weight: bolder;
}

.shoTaxs {
  font-family: Gilroy-Regular;
  font-style: normal;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  /* Main */
  color: #981827;
}

.rmap {
  width: 100%;
  font-family: samux;
  font-style: normal;
  font-weight: 500;
  font-size: 130px;
  line-height: 299px;
  color: #981827;
}
@media (max-width: 768px) {
  .rmap,
  .geoInu {
    font-size: 85px;
  }
}

.tokenText {
  border-left: 6px solid #981827;
  height: 300px;
  padding-left: 3vw;
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #981827;
}

.howToBuy {
  background: url(images/mainbackground.png);
  top: 1000;
  width: 100%;
  margin-top: 700px;
}

.howTo {
  /* height: 299px; */
  font-family: samux;
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 299px;
  color: #981827;
}
@media (max-width: 768px) {
  .howTo {
    font-size: 60px;
  }
}

.howToP {
  position: absolute;
  height: 200px;
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 40px;
  /* Main */
  color: #981827;
}

.howToInstructions {
  left: 600px;
  top: 2450px;
}

.howToInstructions p {
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: 450;
  font-size: 17px;
  line-height: 20px;
  /* Main */
  color: #981827;
}

.howToColor {
  font-weight: 900;
}

.footer {
  height: 200px;
  background: #981827;
}

.footerNavigation {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
}

.footerNavigation h4 {
  margin-left: 10px;
}

.footer p {
  color: #ffffff;
  font-family: Gilroy-Regular;
  font-style: normal;
  font-size: 13px;
  line-height: 26px;
  margin-left: 10px;
}

/* 
END OF BODY SECTION
 */
